.login{
   display:flexbox;
   width: 500px;
   height: 450px;
   background-color: aliceblue;
   box-shadow:5px 10px 18px #888888;
   padding: 30px;
   margin-left:150px;
   margin-top:80px;
   border-radius: 1rem;
}