.wed-container{
  background-color:orange;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: 500px;
  width: 99%;
  display: flex;
  align-items: baseline;
  margin: 10px;
  padding:10px;
  border-radius: 0.25rem;
}

@media screen and (max-width: 500px) {
  
  .wed-container
  {
      width: 70%;
  }
}